<div class="w-100 flex f-center">
  <div class="pad-03 w-40">
    <h2 class="">Login</h2>
    <form action="/login" method="POST">
      <div class="form-field">
        <label for="usernameInput">Email</label>
        <input type="email" class="" id="username" placeholder="Email" name="username">
      </div>
      <div class="form-field">
        <label for="passwordInput">Password</label>
        <input type="password" class="" id="password" placeholder="Password" name="password">
      </div>
      <% if ( message != "" ) { %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
      <% } %>
      <div class="flex f-col f-center form-field">
        <button type="submit" class="btn">Login</button>
        <a href="/auth/facebook" class="btn btn-sec">Login With Facebook</a>
        <a href="/auth/google" class="btn btn-sec">Login With Google</a>
      </div>
    </form>  
  </div>
</div>